<div class="card">
    <div class="card-header">
        Administrador de formulario
    </div>

    <div class="card body">
        <form id="formCantante" name="cantante" enctype="multipart/form-data" method="post">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="">Nombre</label>
                    <input type="text" name="name" class="form-control" placeholder="Digite un Nombre" required>
                </div>

                <div class="form-group col-md-6">
                    <label for="">Fecha de Nacimiento</label>
                    <input type="date" name="date_nacimiento" class="form-control" placeholder="Digite un fecha de nacimiento" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="">Foto</label>
                    <input type="file" name="foto" class="form-control" placeholder="Digite un foto" required>
                </div>

                <div class="form-group col-md-6">
                    <label for="">Top musical</label>
                    <select class="form-control roles" name="musical_id" id="musical">
                        <option value="1">POP</option>
                        <option value="3">LATINO</option>
                        <option value="2">VALLENATOS</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="biografia">Biografia</label>
                <textarea name="biografia" id="biografia"  rows="6" class="form-control" placeholder="Introduzaca una Biografia del Cantante"></textarea>
            </div>

            <button class="btn-success btn btn-sm" id="guardar">Guardar</button>
        </form>
       
    </div>

    <script>
        $(document).ready(function() {
            var apiUrl = ' http://localhost:8080/restcantante/';

            $(document).on("click","#guardar",function(){
                
                var form = document.forms.namedItem("cantante");
                var formData = new FormData(form);
                $.ajax({
                     url: apiUrl,
                     method: 'POST',
                     data: formData,
                     contentType: false,
                     processData: false,
                    success: function(response) {
                        console.log(200)
                         
                         //location.reload();
                         // Limpiar formulario
                         form[0].reset();
                         // Recargar lista de cantantos
                         //loadcantants();
                    },
                    error: function(xhr, status, error) {
                        console.log(error);
                        alert('Hubo un error al agregar el cantante');
                    }
                });

            });

            selects();
            function selects()
            {
                $.ajax({
                    url: "http://localhost:8080/musicales",
                    method: "GET",
                    //dataType:"JSON",
                    success: function(result)
                    { 
                        $(result).each( function(index, res){
                            $(".roles").append('<option value="'+res.id+'">'+ res.top + '</option>');
                            console.log(res.top)
                        })
                        
                        var ChosenInputValue = $('.chosen-choices input').val();//get the current value of the search
                        $(".roles").trigger("chosen:updated");
                        $('.chosen-choices input').val(ChosenInputValue);
                    }
                });    
            }

        });
    </script>